@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  /* Primary Colors */
  --color-primary-black: #000;
  --color-primary-neutral: #404040;
  --color-primary-white: #ffffff;

  /* Zinc colors */
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-500: #71717a;
  --color-zinc-800: #27272a;

  /* Error Color */
  --color-error-500: #ef4444;

  /* Typography System */

  /* Heading H1 - 36px */
  --font-size-h1: 36px;
  --line-height-h1: 44px;
  --letter-spacing-h1: -0.02em;

  /* Heading H2 - 32px */
  --font-size-h2: 32px;
  --line-height-h2: 40px;
  --letter-spacing-h2: -0.02em;

  /* Heading H3 - 28px */
  --font-size-h3: 28px;
  --line-height-h3: 32px;
  --letter-spacing-h3: -0.02em;

  /* Heading H4 - 24px */
  --font-size-h4: 24px;
  --line-height-h4: 28px;
  --letter-spacing-h4: -0.02em;

  /* Heading H5 - 20px */
  --font-size-h5: 20px;
  --line-height-h5: 24px;
  --letter-spacing-h5: -0.02em;

  /* Heading H6 - 16px */
  --font-size-h6: 16px;
  --line-height-h6: 20px;
  --letter-spacing-h6: -0.02em;

  /* Paragraph P1 - 20px */
  --font-size-p1: 20px;
  --line-height-p1: 24px;
  --letter-spacing-p1: 0.02em;

  /* Paragraph P2 - 16px */
  --font-size-p2: 16px;
  --line-height-p2: 20px;
  --letter-spacing-p2: 0.02em;

  /* Paragraph P3 - 12px */
  --font-size-p3: 12px;
  --line-height-p3: 16px;
  --letter-spacing-p3: 0.02em;

  /* Button Text - 20px */
  --font-size-btn: 20px;
  --line-height-btn: 24px;
  --letter-spacing-btn: 0.02em;

  /* Button Text 2 - 16px */
  --font-size-btn2: 16px;
  --line-height-btn2: 20px;
  --letter-spacing-btn2: 0.02em;

  /* Underlined - 20px */
  --font-size-underlined: 20px;
  --line-height-underlined: 24px;
  --letter-spacing-underlined: -0.02em;

  /* Border radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

.text-heading-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

.text-heading-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

.text--heading-h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

.text-heading-h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
}

.text-heading-h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  letter-spacing: var(--letter-spacing-h5);
}

.text-heading-h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  letter-spacing: var(--letter-spacing-h6);
}

.text-body-lg {
  font-size: var(--font-size-p1);
  line-height: var(--line-height-p1);
  letter-spacing: var(--letter-spacing-p1);
}

.text-body-md {
  font-size: var(--font-size-p2);
  line-height: var(--line-height-p2);
  letter-spacing: var(--letter-spacing-p2);
}

.text--body-sm {
  font-size: var(--font-size-p3);
  line-height: var(--line-height-p3);
  letter-spacing: var(--letter-spacing-p3);
}

.text-button-1 {
  font-size: var(--font-size-btn);
  line-height: var(--line-height-btn);
  letter-spacing: var(--letter-spacing-btn);
}

.text-button-2 {
  font-size: var(--font-size-btn2);
  line-height: var(--line-height-btn2);
  letter-spacing: var(--letter-spacing-btn2);
}

.text-underlined {
  font-size: var(--font-size-underlined);
  line-height: var(--line-height-underlined);
  letter-spacing: var(--letter-spacing-underlined);
  text-decoration: underline;
}

/* Outlined text utility */
.text-outlined {
  -webkit-text-stroke: 1px currentColor;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: var(--font-sora);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button {
  @apply cursor-pointer select-none
}
